@charset "UTF-8";

body {
    background-color: rgb(70, 142, 236);
    font: normal 15px Arial;
}
header {
    color: white;
    text-align: center;
}
section {
    background-color: white;
    width: 500px;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    box-shadow: 3px 3px 10px black;
}
footer {
    color: white;
    font-style: italic;
    text-align: center;
}